.about {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: 70px;
    padding: 20px;
    max-width: 1100px;
    width: 90%;
}

.left-side {
    flex: 1;
    gap:100px;
    display: flex;
    flex-direction: column;
    margin-bottom: 40px;
}

.right-side {
    flex: 1;
    display: flex;
    gap: 100px;
    flex-direction: column;
    margin-bottom: 40px;
}


.about h2 {
    font-family: Inter;
    font-size: 80px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    background: linear-gradient(90deg, #424242 0%, #7A7878 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.about h3 {
    color: #424242;
    text-align: left;
    font-family: Inter;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.about p {
    color: #616161;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin: 13px 0;
}

.about-img {
    border-radius: 50px;
    overflow: hidden;
}

.about-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.about-img-full {
    border-radius: 50px;
    overflow: hidden;
    max-width: 1100px;
    width: 90%;
    margin: 60px 0;}
